@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --fontTitulo: "Source Serif 4", serif;
    --fontConteudo: "Open Sans", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-image: linear-gradient(to bottom,white,silver,grey);
    padding: 20px;
}
header > h1{    
    font-family: var(--fontTitulo);
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
}
header > p{
    font-family: var(--fontConteudo);
    font-style: italic;
    text-align: center;
}
nav{   
    background-color: grey;
    padding: 10px;
}
nav > a{
    font-family: var(--fontConteudo);
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}
nav > a:hover{
    color: white;
    text-decoration: none;
    font-style: italic;
    margin: 5px;
}

body{
    background-color:silver;
    margin: 0px;
}

main{
    background-color: white;
    width: 900px;
    height: 490px;
    margin: auto;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 5px 5px 5px rgba(167, 166, 166, 0.363);
}
main > article > h2{
    font-family: var(--fontTitulo);
    padding: 10px;
    text-decoration: underline;
}
main > article > p{
    font-family: var(--fontConteudo);
    text-indent: 20px;
    text-align: justify;
}
aside{
    background-color: rgba(230, 227, 227, 0.829);
    width: 900px;
    height: 130px; 
    margin: 10px auto;   
    padding: 10px;
    border-radius: 7px;
    box-shadow: 5px 5px 5px rgba(167, 166, 166, 0.363);
}
aside > h2{
    background-color: black;
    color: white;
    padding: 10px;
    margin: -10px -10px -10px -10px;
    border-radius: 10px 10px 0px 0px;
    font-family: var(--fontTitulo);
    text-decoration: underline;
}
aside > article > p{
    font-family: var(--fontConteudo);
    text-indent: 20px;
    text-align: justify;
    padding-top: 10px;
}
footer{
    background-color: black;       
    padding: 7px;
    margin: 0px;      
}
footer > p{
    font-family: var(--fontConteudo);
    color: white;
    text-align: center;
    margin: 0px;
}
footer > p > a{
    text-decoration: none;
    color: white;
}
footer > p > a:hover{
    color: white;
    text-decoration: none;
    font-style: italic;
}
