@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'fonteTitulo';
    src: url('../fonte/anime_ace_bb/animeace2bb_ot/animeace2_bld.otf') format(opentype);
}

:root{
    --cor0: blue;
    --cor1: #d2def5c2;
    --cor2: #478EFF;
    --cor3: #47C8FF;
    --cor4: #47FFBE;
    --cor5: #47FFFC;

    --fontConteudo: "Open Sans", sans-serif;
}
*{
    margin: 0px;
    padding: 0px;       
}
body{
    background-color: var(--cor1);
    background-image: url('../imagens/goku-background-150px.webp');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 165px;  
    background-attachment: fixed;
}
header{
    background-color: var(--cor0);
    background-image: url('../imagens/goku-backgound-imagem2.png');
    background-position: right;
    background-repeat: no-repeat;    
    padding: 50px;
    text-align: center;
}
header > h1{
    color: white;
    font-family: fonteTitulo;
}
header > p{
    color: white;
    font: italic bold 18px var(--fontConteudo);
    padding-top: 5px;
}

nav{
    background-color: var(--cor0);
    padding: 10px;
}
nav > a{
    color: white;
    font: normal bold 18px var(--fontConteudo);
    text-decoration: none;
    margin-right: 6px;
    margin-bottom: -5px;
}
nav > a:hover{
    color: white;
    text-decoration: underline;
    font: italic bold 18px var(--fontConteudo);
    background-image: linear-gradient(to right, transparent, var(--cor4));
    border-radius: 5px;
    padding: 2px;
}


main{
    width: 600px;
    height: auto;    
    margin: auto;
    padding: 10px;

    font: italic normal 16px var(--fontConteudo);
    
}

section.imagem{    
    padding: 10px;
    
}
/*section#img01{
    background-image: url('../imagens/goku-background-150px.webp');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 165px;   
}*/
section#img02{
    background-image: url(../imagens/goku156px.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 165px;
    
}
section.normal{    
    padding: 10px;
}
footer{    
    background-color: var(--cor0);
    padding: 10px;
}
footer > P{
    text-align: center;
    font: normal bold 18px var(--fontConteudo);
    color: white;
}
footer > p > a{
    color: white;
    font: normal bold 18px var(--fontConteudo);
    text-decoration: none;
}
footer > p > a:hover{
    color: white;
    text-decoration: underline;
    font: italic bold 18px var(--fontConteudo);
    background-image: linear-gradient(to right, transparent, var(--cor4));
    border-radius: 5px;
    padding: 2px;
}





